@import './variables';

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  color: $base-font-color;
  font-family: $font-family;
  line-height: 1.9;
  -webkit-text-size-adjust: 100%;
}

/* A Modern CSS Reset */
*,*::before,*::after{box-sizing:border-box}ul,ol[class]{padding:0}body,h1,h2,h3,h4,p,ul,ol[class],figure,blockquote,dl,dd{margin:0}html{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;}ul[class],ol[class]{list-style:none}a:not([class]){text-decoration-skip-ink:auto}img{max-width:100%;display:block}article>*+*{margin-top:1em}input,button,textarea,select{font:inherit}img:not([alt]){filter:blur(10px)}@media(prefers-reduced-motion:reduce){*{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}